.ori-reason-form label {
	margin: 7px;
	vertical-align: middle;
	display: inline;
}

.ori-reason-form textarea {
	width: 96%;
}

.ori-reason-form .ori-reason {
	text-align: left;
	margin-left: 7px;
}
